<div class="topics">
  <div class="text-center">
     <h1>Topics</h1>
  </div>
      <% @topics.each do |topic| %>
  <div class="topic">
     <h5><%= topic.description %><h5>
  </div>
     <% end %>
  </div>



<div class="posts">
         <div class="text-center">
             <h1>Posts</h1>
        </div>
              <% @posts.each do |post| %>
         <div class="post">
                <h5><%= post.body %><h5>
        </div>
            <% end %>
</div>



    <div class="comments">
      <div class="text-center">
         <h1>Comments</h1>
      </div>
           <% @comments.each do |comment| %>
      <div class="comment">
          <h5><%= comment.body %><h5>
     </div>
        <% end %>
      </div>
